#bti {
  border-collapse: collapse;
  td {
    border: 1px solid lightgray;
    font-size: 8pt;
    font-family: Helvetica;
  }
}

ul.marker-buttons {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 4pt 0;
    font-family: Helvetica, Arial;
    font-size: 8pt;
  }
}

h1 {
  font-family: Helvetica, Arial;
  font-weight: normal;
}

h3 {
  font-family: Helvetica, Arial;
  font-weight: normal;
}

.marker-button {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-family: Helvetica, Arial;
  padding: 0;
}